body {
    padding: 0 !important;
    margin-top: 100px;
    background-color: #7DC2AF;
}

@media (max-width: 576px) {
    body {
        padding: 1rem 1rem;
    }
}

small {
    color: #FFF;
}

.logout {
    color: white !important;
    margin-left: auto;
    margin-right: 25px;
}

.logout:hover {
    cursor: pointer;
    text-decoration: underline !important;
}

.foodTable-container {
    background-color: #F3F3F3;
    padding: 20px 40px;
    border-radius: 10px;
}

.heading {
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: #7DC2AF;
}

.intro {

}

.addFood {
    margin-bottom: 2rem;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}

.dataTables_wrapper .dataTables_filter input {
    margin-left: 0;
}

.dataTables-wrapper {
    width: 100%;
}

#foodTable-filter {
    margin-bottom: .5rem;
    margin-top: .5rem;
}

table.dataTable {
    border-collapse: collapse;
}

table.dataTable > tbody > tr {
    border-left: 10px solid;
}

table.dataTable > tbody > tr[foodstatus="danger"] {
    border-color: #E27C5F;
}
table.dataTable > tbody > tr[foodstatus="warning"] {
    border-color: #E8A87C;
}
table.dataTable > tbody > tr[foodstatus="good"] {
    border-color: #40B3A2;
}

.legende ul {
    list-style: none;
    display: flex;
    padding-left: 0;
}

.legende ul li:not(:first-of-type) {
    margin-left: 1rem;
}

.legende ul li span {
    display: inline-block;
    width: 10px;
    height: 13px;
}

.danger {
    background-color: #E27C5F;
}
.warning {
    background-color: #E8A87C;
}
.good {
    background-color: #40B3A2;
}

.modal-body form {
    padding: 1rem 3px;
}

.modal-body h2{
    text-align: center;
    margin: 1rem;
}

/* loginScreen.php */

.container .login {
    background-color: #fff;
    border-radius: 10px;
    width: 400px;
    max-width: 100%;
}

.container .login h2 {
    color: #7DC2AF;
    margin-top: 1.5rem;
    text-align: center;
}

.container .login form{
    margin-bottom: 1rem;
    padding: 2rem 1rem;
}

#signUp {
    color: white !important;
}